<div style="background-color:#74C35A; height: 500px; margin-left: 200px; margin-right: 200px">
<form action="action_page.php" style="height: 500px">
  <div class="imgcontainer">
    <img src="http://jiuzhangsuanfa.com/static/img/logo.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <!--<label for="uname"><b>Username</b></label>-->
    <input type="text" placeholder="Enter Username" name="uname" required style="background-color: lightgrey">

    <!--<label for="psw"><b>Password</b></label>-->
    <input type="password" placeholder="Enter Password" name="psw" required style="background-color: lightgrey">

    <button type="submit">Login</button>
    <label class="label1">
    <div>

      <input type="checkbox" checked="checked" name="remember" > Remember me
      <span class="psw" style = "display: inline;"><a href="#" style="color: forestgreen; text-decoration:none">Forgot password?</a></span>

    </div>
    <span class="register">Not registered? <a href="#" style="color: forestgreen; text-decoration:none; margin: 58px;">Create an account</a></span>
    </label>
  </div>

</form>
</div>
